* {
    box-sizing: border-box;
 }
  html{
    scroll-behavior: smooth;
  }
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
.header{
    padding-top: 20px;
}
.nav-list {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;     
}
.nav-link{
    font-weight: 700;
    font-size: 30px;
    color: rgb(120, 232, 182);
    text-decoration: none;
    padding: 10px 20px;
   line-height: 30px;
   transition: .3s;
   background-color: rgb(227, 233, 228);
   padding-left: 35px;

}
section {
    width: 100%;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
  padding-left: 202px;
  padding-top: 20px;
  height: 100%;
 }
.profile{
    display: flex;
  align-items: center; 
}
.profile img{
    width: 35%;
    float: left;
    margin-right: 170px;
}
.section-title1{
    display: flex;
flex-direction: column;
font-size: 70px;
text-align: left;
line-height: 1.2;
color: rgb(81, 173, 112);

}
.second{
    padding-left: 120px;
}
.section-title{
    color: rgb(81, 173, 112);
    font-size: 40px;
}
.list {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.link{
    font-weight: 500;
    font-size: 20px;
    color:rgb(119, 132, 125);
    text-decoration: none;
   transition: 0.3s;
   padding:0 5px;
}
.item{
    font-size: 20px;
    color:rgb(119, 132, 125);
    width: 100%;
}
.about-me p{
    font-size: 20px;
    color: rgb(119, 132, 125);
    font-weight: 500;
    width: 90%;
}
pre{
    font-size: 20px;
    color: rgb(119, 132, 125);
    font-weight: 700;
}
.educ p{
    font-size: 20px;
    color: rgb(119, 132, 125);
    font-weight: 500;
}
.footer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;  
  
  
}
.git-link{
    color:rgb(119, 132, 125);
    text-decoration: none;
   transition: 0.3s;
   font-size: 20px;
}
.footer img{
    width: 20%;
   
}
.itemm{
    padding: 10px 110px;
    color: rgb(120, 232, 182);
    font-size: 25px;
    background-color: rgb(227, 233, 228);
  
}